$dd-border-width: .111006rem;
$dd-font-family: 'Mulish', sans-serif;
$dd-font-weight: 300;
$dd-letter-spacing: .0125em;

$dd-breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

$dd-colors: (
    'accent': #9d1438,
    'background':#ffffff,
    'danger':#f43f5e,
    'foreground': #1f2937,
    'info':#a78bfa,
    'success':#2dd4bf,
    'warning':#fde047,
);