$dd-border-width: .111006rem;
$dd-font-family: 'Museo Sans', sans-serif;
$dd-font-weight: 700;
$dd-letter-spacing: .0125em;

$dd-breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

$dd-colors: (
    'accent':#a78bfa,
    'background':#000000,
    'danger':#f43f5e,
    'foreground':#ddd6fe,
    'info':#a78bfa,
    'success':#2dd4bf,
    'warning':#fde047,
);